.wrapper {
   display: flex;
   margin-top: var(--default-layout-header-height);
}

.content {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   font-weight: 400;
   flex: 1;
   height: 1000px;
   background: pink;
}
