.container {
   background: rgb(255, 237, 237);
   width: var(--default-layout-sidebar-width);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   font-weight: 400;
}
