.wrapper {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-height: calc(100vh - var(--default-layout-header-height) * 1.5);
   padding-top: 8px;
   color: var(--black);
   background: rgb(255, 255, 255);
   box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
   border-radius: 8px;
   overflow: hidden;
}

.scrollbar {
   overflow-y: auto;
}
