.wrapper {
   width: 270px;
   padding: 20px;
   padding-top: calc(20px - 8px);
   // 8px: padding top Poper Wrapper
}

.header {
   display: flex;
   align-items: center;
}

.avatar {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   object-fit: cover;
}

.follow-btn {
   padding-top: 4.5px;
   padding-bottom: 4.5px;
   margin-left: auto;
}

.body {
   margin-top: 8px;
}

.nickname {
   display: flex;
   align-items: center;

   span {
      margin-top: -3px;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 22px;
      color: var(--black);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
   }

   svg {
      flex-shrink: 0;
      width: 1.4rem;
      height: 1.4rem;
      margin-left: 4px;
      margin-bottom: 7px;
      color: rgb(32, 213, 236);
   }
}

.name {
   display: block;
   font-weight: 500;
   font-size: 1.4rem;
   line-height: 13px;
}

.bottom {
   display: flex;
   margin-top: 12px;
   font-size: 1.6rem;

   p + p {
      margin-left: 8px;
   }

   span + span {
      margin-left: 4px;
   }
}

.statistics {
   font-weight: 700;
}
