.container {
   background: var(--white);
   width: var(--default-layout-sidebar-width);
   padding-right: 8px;
}

.wrapper {
   padding-top: 20px;
   padding-bottom: 26px;
   padding-left: 8px;
   min-height: 100%;
}
